In [1]:
import json
from pathlib import Path
import shutil

import pandas as pd
import numpy as np

from bw2io import remote
from bw2io.importers.io import IOImporter
from bw2io.strategies.io import tidy_tables
import bw2data as bd
import bw2calc as bc
import bw2analyzer as ba

In [2]:
print(bd.__version__)

(4, 5)

## define the database

example of a possible IO database

In [3]:
pet_hiot = pd.DataFrame([[1,-2],[0,1]], # experiment setting 1 prod to 0
             index=pd.MultiIndex.from_tuples([('DK','prod1'),('DK','prod2')]),
             columns = pd.MultiIndex.from_tuples([('DK','act1'),('DK','act2')]))

pet_hiot = pet_hiot.astype(pd.SparseDtype("float",0))


B = pd.DataFrame([[1,3],[1,2],[0,1],[4,0]],
             index=pd.Index(['co2_air','ch4_air','co2_accelerated_air','land_occupation']),
             columns = pd.MultiIndex.from_tuples([('DK','act1'),('DK','act2')]))

B = B.astype(pd.SparseDtype("float",0))

fd = pd.DataFrame.from_dict(
    {
    ('DK','Household'):{('DK','prod1'):-11,('DK','prod2'):-3},
    ('DK','Government'):{('DK','prod1'):-8,('DK','prod2'):-4},
    ('DK','Capital'):{('DK','prod1'):-4,('DK','prod2'):-2}
        }
    )

Bfd = pd.DataFrame([[1,3],],
index=pd.Index(['co2_air',]),
columns = pd.MultiIndex.from_tuples([('DK','Household'),
('DK','Government')])).astype(pd.SparseDtype("float",0))

In [4]:
print(pet_hiot)
print(B)
print(fd)
print(Bfd)

           DK
         act1 act2
DK prod1  1.0 -2.0
   prod2    0  1.0
                      DK
                    act1 act2
co2_air              1.0  3.0
ch4_air              1.0  2.0
co2_accelerated_air    0  1.0
land_occupation      4.0    0
                DK
         Household Government Capital
DK prod1       -11         -8      -4
   prod2        -3         -4      -2
               DK
        Household Government
co2_air       1.0        3.0

In [5]:
## concatenate the IO and final-demand table into 1

pfd = pd.DataFrame((np.eye(fd.shape[1])),index=fd.columns,columns=fd.columns)
fd_total = pd.concat([fd,pfd])
fd_total = fd_total.astype(pd.SparseDtype("float",0))

In [6]:
extended_hiot = pd.concat([pet_hiot,fd_total],axis=1).fillna(0)
extended_B = pd.concat([B,Bfd],axis=1).fillna(0)

In [7]:
print(extended_hiot)

                DK
              act1 act2 Household Government Capital
DK prod1       1.0 -2.0     -11.0       -8.0    -4.0
   prod2         0  1.0      -3.0       -4.0    -2.0
   Household   0.0  0.0       1.0          0       0
   Government  0.0  0.0         0        1.0       0
   Capital     0.0  0.0         0          0     1.0

In [8]:
print(extended_B)

                      DK
                    act1 act2 Household Government
co2_air              1.0  3.0       1.0        3.0
ch4_air              1.0  2.0       0.0        0.0
co2_accelerated_air    0  1.0       0.0        0.0
land_occupation      4.0    0       0.0        0.0

it stores the database in a tidy compressed csv files, to be imported with the importer

In [9]:
path_to_intermediate = (Path.cwd()/'tidy_tables_folder')
path_to_intermediate.mkdir(exist_ok=True)

In [10]:
metadata_dict = {'prod1':{'unit':'kg','name':'product 1'},
                 'prod2':{'unit':'kg','name':'product 2'},
                 'Household':{'unit':'unit','name':'the household'},
                 'Government':{'unit':'unit','name':'the government'},
                 'Capital':{'unit':'unit','name':'capital investments'},

                 'co2_air':{'unit':'ton', # not standard units
                            'name':'carbon dioxide',
                            'compartment':('air',)},
                 'ch4_air':{'unit':'kg',
                            'name':'methane',
                            'compartment':('air',)},
                 'co2_accelerated_air':{'unit':'kg', # additional biosphere flow
                                        'name':'carbon dioxide accelerated',
                                        'compartment':('air',)},
                 'land_occupation':{'unit':'hectare * year', # non standard composite unit
                                    'name':'land occupation',
                                    'compartment':('natural resource', 'land')}
                }

with open(path_to_intermediate/'io_metadata.json', 'w') as fp:
    json.dump(metadata_dict, fp,indent=4)

In [11]:
tidy_tables(extended_hiot,extended_B,path_to_intermediate)

In [12]:
# example of how the data is stored
pd.read_csv(path_to_intermediate/'index_table_technosphere.gzip',compression='gzip').head(3)

  col_region   col_code row_region   row_code
0         DK       act1         DK      prod1
1         DK       act2         DK      prod2
2         DK  Household         DK  Household

In [ ]:
# don't run it twice, or set overwrite to True
remote.install_project('ecoinvent-3.10-biosphere','test_io_importer',
                       overwrite_existing=False)

In [13]:
bd.projects.set_current('test_io_importer')

In [14]:
try:
    del bd.databases['pet_io_db biosphere']
    del bd.databases['pet_io_db']
    bd.Database('pet_io_db').delete(warn=False)
    bd.Database('pet_io_db biosphere').delete(warn=False)
except KeyError:
    print('db not there')

These include the links between the database being imported and the biosphere database. 

For those that do not have a correspondence, a new elementary flow will be created in an additional biosphere db

In [15]:
biosphere_mapping = {
    'co2_air':'349b29d1-3e58-4c66-98b9-9d1a076efd2e', 
    'ch4_air':'0795345f-c7ae-410c-ad25-1845784c75f5',
    'land_occupation':'c7cb5880-4219-4051-9357-10fdd08c6f2b',
    }

In [16]:
for bcode,biocode in biosphere_mapping.items():

    print(f"{bcode} linked to {bd.Database(bd.config.biosphere).get(code=biocode)}")

co2_air linked to 'Carbon dioxide, fossil' (kilogram, None, ('air',))
ch4_air linked to 'Methane, fossil' (kilogram, None, ('air',))
land_occupation linked to 'Occupation, unspecified' (square meter-year, None, ('natural resource', 'land'))

In [17]:
pet_example = IOImporter(path_to_intermediate,'pet_io_db',b3mapping=biosphere_mapping)
pet_example.apply_strategies()

In [18]:
pet_example.write_database()

100%|██████████| 1/1 [00:00<00:00, 4405.78it/s]

12:13:07+0100 [info     ] Vacuuming database

100%|██████████| 5/5 [00:00<00:00, 13833.46it/s]

12:13:07+0100 [info     ] Vacuuming database
12:13:07+0100 [info     ] Starting IO table write

12:13:07+0100 [info     ] Adding technosphere matrix
12:13:07+0100 [info     ] Adding biosphere matrix
12:13:07+0100 [info     ] Finalizing serialization

## test

In [19]:
test_db = bd.Database('pet_io_db')

In [20]:
act1 = test_db.get(code='act1|DK')
act2 = test_db.get(code='act2|DK')

In [21]:
# if unit conversion works it should have CO2 emissions 
# close to 1 ton and land use of 40000 m2 * year
for e in act1.biosphere():
    print(e)

Exchange: 40000.0 square meter-year 'Occupation, unspecified' (square meter-year, None, ('natural resource', 'land')) to 'act1' (kilogram, DK, None)>
Exchange: 907.1847534179688 kilogram 'Carbon dioxide, fossil' (kilogram, None, ('air',)) to 'act1' (kilogram, DK, None)>
Exchange: 1.0 kilogram 'Methane, fossil' (kilogram, None, ('air',)) to 'act1' (kilogram, DK, None)>